@import '../../styles/variables';
@import '../../styles/mixins';

.calc-transation-input {
	@include calc-container;

	.calc-transation-input__form {
		@include calc-flex-container;
		
		div {
			margin: 2.5px 0px;
		}

		button {
			margin: 5px 0px;
			width: 200px;
		}
	}
}

