@import '../../styles/variables';

.sidebar-link {
	display: flex;
	height: 70px;
	border-bottom: 1px solid lightgray;

	a,
	a:link, 
	a:visited {
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: 600;
		color: $titles-gray;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;

		ion-icon {
			font-size: 40px;
			margin-right: 10px;
		} 
	}


	@media(hover: hover) and (pointer: fine) {
		&:hover {
			transform: translateX(-5px);
			background-color: transparent;
			transition: ease-out 0.15s;
		}	

		&:active {
			transform: translateX(0px);
			transition: ease-out 0.5s;
			background-color: transparent;
		}	
	}

}
