@import '../../styles/variables';
@import '../../styles/mixins';

.calc-tir {
	@include calc-container;

	.calc-tir__form {
		@include calc-flex-container;
	
		.calc_input__date {
			display: flex;
			align-items: center;
			width: 300px;
	
			label {
				margin: 0px 10px 0px 0px;
			}
	
		}
	
		button {
			width: auto;
		}
	
		.calc-tir__text {
			width: auto;
			
			h3 {
				padding: 5px;
				margin: 0px;
			}

			.calc-tir__text-value {
				padding: 5px;
				margin: 5px;
			}

			.positive {
				background-color: lightgreen;
			}

			.negative {
				background-color: lightcoral;
			}
	
		}
	
		div {
			margin: 10px 15px;
		}
	}
}

